DirectX
System/Gothic.ini
System/Paths.d
System/Systempack.ini
_work/data/Anims/
_work/data/Meshes/
_work/data/Music/
_work/data/Sound/
_work/data/Textures/
_work/data/Video/
_work/data/Worlds/
_work/demo/
_work/tools/
*.DAT
*.BIN
*.CSL
*.ZEN
*.TGA
*.TEX
*.FNT
*.PDF
*.CSS
*.RTF
*.DLL
*.EXE
*.HTM
*.VDF
*.DMP
*.CFG
*.MANIFEST
*.M3D
*.FLT
*.RPT
*.INF
*.GSP
